.upper-header {
    position: relative;
    transition: transform 0.3s ease;
    
    background:#f5f7f8
}

.lower-header {
    position: relative;
    top: 0;
    z-index: 100;
    /* top: initial; */
    background:#f5f7f8
    
}